<div class="container pt-4 col-md-10">
    <div class="cursor">
        <div>Hello World!</div>
    </div>
    <p class="lead">Meet David, he works hard and is a great team fit-<br>
        <a href="/login">Log in </a> or <a href='signup'> sign up</a>
        to help David get a junior developer position in Berlin tech and raise
        awareness.</p>
    <hr class="my-4">
    <p>Here's what all {{count}} people that already signed say about him:</p>
    <p>
        <a class="more-button btn btn-primary" data-toggle="collapse" href="#signers">
            <span>Show</span> more
        </a>
    </p>
    <div class="collapse mt-5" id="signers">
        <table class="table table-responsive d-md-table mx-auto mt-4">
            <tbody>
                {{#data}}
                <tr class="d-none d-md-inline row">
                    <td class="col-md-7"><span class='text-primary'>{{first}} {{last}}</span>
                        {{#if age}}<span class="text-secondary">({{age}})</span>{{/if}}{{#if msg}}
                        says
                        <h5 class="d-inline font-weight-bold text-success">"{{msg}}"</h5>{{/if}}
                    </td>
                    <td class="col-md-2">{{#if url}}<div class="text-truncate"><a href="{{url}}"
                                class="text-danger">{{url}}</a>
                        </div>{{/if}}</td>
                    <td class="col-md-3 font-italic text-warning">
                        <div class="text-truncate">{{#if city}}{{city}}, {{/if}} <span class="time">{{time}}</span>
                        </div>
                    </td>
                </tr>
                <tr class="d-md-none">
                    <td>
                        <span class='text-primary'>{{first}} {{last}}</span>
                        {{#if age}}<span class="text-secondary">({{age}})</span>{{#if msg}},{{/if}}{{/if}}{{#if msg}}
                        says
                        <h5 class="d-inline font-weight-bold text-success">"{{msg}}"</h5>{{/if}}
                        <br>
                        {{#if url}}<div class="text-truncate"><a href="{{url}}" class="text-danger">{{url}}</a>
                        </div>{{/if}}
                        <div class="text-truncate font-italic text-warning">{{#if city}}{{city}}, {{/if}} <span
                                class="time">{{time}}</span>
                        </div>
                    </td>
                </tr>
                {{/data}}
            </tbody>
        </table>

    </div>


</div>

<script src="/time.js"></script>
<script src="moreButton.js"></script>